.imagen{
	background-color: blue;
	height: auto;
}
.fil4{
	margin-top: 1%;
	height: 30px;
}
.col5{
	height: 100%;
	background-color: red;
}
.form2{
	padding: 4px;
}
.form3{
	padding: 4px;
}
.form1{
	padding: 4px;
}
.form4{
	padding: 4px;
}
.form5{
	padding: 4px;
}